div{
    color: yellow;
}
.divclass
{
    color: red;
    background-color: rgb(140, 227, 229);
}
a:link{
    color: peru;
}
a:hover{
    color: gray;
    background-color: blueviolet    ;
}
a:visited{
    color: red;
}