div{
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
    text-decoration: underline overline;
    text-align: justify;
    text-align: end;
    text-align: center;
    text-align: left;
    text-transform: uppercase;
    text-transform: capitalize;
    text-decoration: lowercase;
    /* letter-spacing: 3px; */
    /* text-shadow: 2px 3px 4px red; */
    color: #FF0000;
    color: rgb(185, 41, 41);
    color: rgba(87, 165, 77, 0.8);
    color: hsl(145, 84%, 41%);
    color: hsla(327, 65%, 43%, 0.158);
}