.main {
    border: 2px solid black;
    /* margin: 20vw; */
    background-color: aliceblue;
    width: 37vw;
    /* height: 60vh; */
    position: relative;
    top: 80px;
    left: 390px
}

.in {
    border: 2px solid red;
    border-radius: 10px;
    margin: 30px;
    background-color: #ffffff;
    width: 408px;
}

img {
    width: 400px;
    border-radius: 10px;
    margin-left: 4px;
    margin-top: 4px;
}

.button {
    margin-left: 50px;
    margin-top: 10px;
    border: none;
    border-radius: 50%;
}

.first {
    width: 30px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: rgb(85, 79, 79);
    padding-right: 45px;
    padding-left: 15px;
}

.second {
    margin-left: 50px;
    width: 30px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    padding-right: 40px;
    padding-left: 15px;
    /* padding: 30px; */
}

h1 {
    margin: 10px;
    font-size: 28px;
}

.para {
    width: 400px;
    margin-left: 6px;
}

.last {
    
    
    border: none;
    border-radius: 20px;
    font-size: 16px;
    color: blue;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-left: 145px;
    margin-bottom: 10px;
}