.div{
    color: rgb(59, 59, 45);
    padding: 15px;
    border: 1px solid red;
    margin: 15px;
    width: 100px;
    div-sizing: border-div;
}
.div1
{
    background-color: aqua;
}
.div2
{
    background-color: azure;
}
*{
    margin: 0;
    padding: 0;
}