*{
    margin: 0;
    padding: 0;
}
.box{
    color: rgb(58, 129, 129);
    background-color: aquamarine;
    border: 2px solid red;
    /* display: inline; */
    margin: 5px;
    padding: 10px;
    /* display: inline-block; */
    /* display: flex; */
    /* justify-content: center; */
    /* display: grid; */
}
.box1{
    /* display: none; */
    visibility: hidden;
}