*{
    margin: 0;
    padding: 0;
}
ul li{
    color: aqua;
    background-color: palegoldenrod;
    list-style-position: inside;
    list-style-type: square;
    list-style: none;
    padding: 20px;
    
}
ul{
    display: flex;
    margin: 10px;
    /* color: aqua; */
    /* background-color: blue; */
    
}